:root {
  /* Light theme  */
  --accent: #4b8ec4; /* Hover color */
  --bg: #f5f5f5; /* Background color */
  --sbg: #e4e6e6; /* Cards color */
  --fg: #3a3a3a; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */

  --big-size: 5rem;
  --lrg-size: 4rem;
  --mid-size: 2.5rem;
  --nml-size: 1.6rem;
  --sml-size: 1.2rem;
}

.darktheme {
  /* Dark theme  */
  --accent: #4b8ec4; /* Hover color */
  --bg: #19171a; /* Background color */
  --sbg: #201e21; /* Cards color */
  --fg: #d8dee9; /* Foreground color */
  --sfg: #3a3a3a; /* Secondary Foreground color */
}

.App {
  background: var(--bg);
  color: var(--fg);

  text-align: center;
  outline: 1px dotted purple;

  height: 100vh;
}

.App-splitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 2rem;

  outline: 1px solid limegreen;
}

.App-grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  min-width: 15rem;
  max-width: 30rem;

  outline: 1px solid red;
}

/* CHEATING */
.fixed {
  height: 200px;
}

@media (max-width: 600px) {
  .App-splitter {
    flex-direction: column;
  }
}