/* Colors from: https://colorhunt.co/palette/179372 */

*, *:first, *:last {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 80%;
    text-align: center;
    margin: auto auto;
    background-color: #222831;
    color: #ececec;
    padding: 1rem;
}

h1, h2, h3 {
    margin: 0 0 1rem 0;
}

a {
    text-decoration: none;
}

textarea:focus, input:focus {
    outline: none; 
}

#search-input {
    width: 100%;
    padding: .5rem 0 .5rem 0;
    border-radius: .25rem;
}

#search-input:focus {
    border: 1px solid #c1a57b;
  }

.form-control {
    border: 1px solid #c1a57b;
}

.search-button {
    border-radius: .25rem;
    font-weight: 200;
}

.time {
    font-size: 8rem;
    margin-bottom: -1rem;
}

.date {
    margin-bottom: 1rem;
}

.link-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card {
    background-color: #30475e;
    border-radius: .25rem;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 10rem;
    border-top: 4px solid #c1a57b;
}

.card > .site-link {
    color: #ececec;
    text-align: start;
    display: block;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.site-link:hover {
    border: 1px solid white;
}

.site-link > a:visited, .site-link > a:link {
    color: #ececec;
}

/* .card > .site-link > a:hover {
    color: #c1a57b;
} */

.icon {
    color: #ececec;
    display: inline-block;
    padding-right: .25rem;
    width: 2rem;
}

.search-form {
    display: flex;
}

.search-input {
    width: 100%;
    padding: .5rem;
    border-radius: .25rem;
}

.search-button {
    padding: .5rem;
    border-radius: .25rem;
    margin: 0 0 0 1rem;
}

.site-link {
    display: block;
    padding: .5rem;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 640px) {
    .card {
        width: 90%; /* The width is 100%, when the viewport is 640px or smaller */
        max-width: 30rem;
        min-width: 12rem;
    }
}
